/* Apply Montserrat font to headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #19213d;
}
strong{
    color: #19213d !important;
    font-size: 19px;
    margin-bottom: 20px;
}
/* Apply Open Sans font to paragraphs */
p, li, strong {
    font-family: 'Poppins', sans-serif;
  }
body{
    margin: 0px;
}
.st-section h2{
    color: #19213d;
    margin-bottom: 12px;
    font-size: 58px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
}
.st-section p{
    color: #667097;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.st-section{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.box{    
    background-color: #fff;
    border: 1px solid #ebeff6;
    border-radius: 16px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    box-shadow: 0 4px 12px rgba(20, 20, 43, .04);
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40% 60% 60%;
   grid-template-rows: auto;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #444;
  }
  /*screensize adjustment */
@media only screen and (max-width: 768px) {
    .st-section{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
  @media (max-width: 600px) {
    .wrapper {
      grid-template-columns: 100%; /* Single column for screens up to 400px */
    }
  
    .a {
      grid-column: 1 !important;
      grid-row: auto !important; /* Allow it to flow naturally in a single column */
    }
  
    .b {
      grid-column: 1 !important;
      grid-row: auto !important; /* Allow it to flow naturally in a single column */
    }
  
    .c {
      grid-column: 1 !important;
      grid-row: auto !important; /* Allow it to flow naturally in a single column */
    }
    .abc img{
        object-fit: cover;
        align-self: stretch;
        vertical-align: middle;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        max-width: 100% !important;
        height: auto !important;
    }
  }
  
  

  .a {
    grid-column: 1 ;
    grid-row: 1/3;
  }
  .b {
    grid-column: 2 ;
    grid-row: 1/1 ;
  }
  .c {
    grid-column: 2;
    grid-row: 2/2 ;
  }
.box-a1{
   display: block;
   align-content: flex-start;
}
.ab{
    padding: 20px 20px 20px 20px;
}
.ab li{
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
}
.ab p{
    color: #868da6;
    font-size: 18px;
    line-height: 25px;
}
.abc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 0px 25px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}
.abc img{
    object-fit: cover;
    align-self: stretch;
    vertical-align: middle;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    max-width: 100%;
    height: 400px;
}
.right-b{
  display: flex;
}